@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    /*Thanks stack overflow*/
}

a {
    color: inherit;
}

:root {
    --main-bg-color: #661C31;
    --header-color: #90A7AD;
    --bottom-head-bg: white;
    --bottom-head-color: #4c5b5e;
}

body {
    display: grid;
    grid-template-rows: minmax(auto, 85vh) auto;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
    margin: 0px;
    padding: 0px;
}

header {
    display: grid;
    grid-template-rows: minmax(100px, 55vh) minmax(50px, 15vh) minmax(50px, 15vh);
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg-color);
    font-family: 'Montserrat', sans-serif;
    color: var(--header-color);
    overflow: visible;
    min-height: 85vh;
    min-height: 200px;
}

h1 {
    font-size: clamp(3rem, 8vw, 4rem);
    text-align: center;
    width: 100%;
    height: 55vh;
    line-height: 55vh;
}

h2 {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    min-height: 50px;
    min-height: 15vh;
    align-items: center;
    display: grid;
    text-align: center;
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: inherit;
    overflow: hidden;
}
nav {
    position: fixed;
    
    margin: 0px;
}

.nav-links {
    color: var(--main-bg-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    padding: 15px;
    white-space: nowrap;
}

#items {
    background-color: var(--header-color);
    display: grid;
    grid-template-rows: 60px 60px 60px;
    margin: 0px 25px 0px 25px;
    grid-template-columns: 12vw;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 900px) {
    #items {
        grid-template-columns: minmax(100px, auto) minmax(100px, auto) minmax(100px, 10vw);
        grid-template-rows: 30px;
    }
}

@media screen and (max-width: 500px) {
    #items {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100vh;
        margin: 0px;
        font-size: 2em;
    }
}

svg:hover {
    cursor: pointer;
}

#menu {
    visibility: hidden;
    position: fixed;
    background-color: var(--header-color);
    padding-bottom: 35px;
    box-shadow: var(--header-color) 0px 0px 1px 1px;
}

main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(autofill, 85vh) minmax(autofill, 85vh) 85vh;
    background-color: white;
}

#tech-page {
    display: grid;
    min-height: 85vh;
    width: 90%;
    grid-template-rows: 15vh minmax(autofill, 40vh) minmax(autofill, 30vh);
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: "h2 h2 " "p p " "html css ";
    justify-items: center;
    justify-self: center;
    background-color: var(--bottom-head-bg);
    color: var(--bottom-head-color);
    object-fit: contain;
}

h2.tech-head {
    height: 15vh;
    min-height: 50px;
    grid-area: h2;
    display: grid;
}

.programming-skills {
    grid-area: p;
    
}

img {
    width: 10vw;
    min-width: 35px;
    grid-row-start: 3;
    grid-row-end: 3;
}

#me-page {
    display: grid;
    grid-template-rows: auto minmax(autofill 70vh);
    grid-template-columns: 90%;
    align-content: start;
    justify-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--header-color);
    min-height: 85vh;
}

p {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: clamp(1em, 3vw, 1.75em);
    
    padding: 5px;
}




.about-me {
    justify-self: center;
    color: var(--header-color);
    
}

#portfolio-page {
    min-height: 80vh;
    min-height: 200px;
    width: 100%;
    background-color: var(--bottom-head-bg);
    color: var(--bottom-head-color);
}
.portfolio-content{display: flex;
    object-fit: contain;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    justify-content: space-around;
    position: relative;
    min-height: 50vh;
}
.img-and-hover{position: relative;
    min-width: 300px;
    width: 20%;
    max-height: 230px;
    overflow: hidden;
    margin: 10px;
    
    
    }
.portfolio-img{
    
clip-path: inset(0px 7px 0px 0px);
z-index: 2; 
position: absolute;
top: 0px;
left: 0px;
min-width: 300px;
width: 100%;
}
.hover-div{
    min-width: 300px;
width: 100%;
position: absolute;
z-index: 3;
top: 0px;
left: 0px;
background-color: red;}
.hover-div:hover{background-color: black;

z-index: 3;}


.dark-theme {
    background-color: var(--main-bg-color);
    color: var(--header-color);
    
}
.light-head:hover{color: var(--main-bg-color);}
.dark-head:hover{color: var(--bottom-head-bg);}

footer {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    min-height: 20vh;
}