@import url("https://fonts.googleapis.com/css2?family=Playball&family=Raleway:wght@100;400;700&display=swap");

:root {
  --main-bg-color: #000000;
  --main-color: #fcf0c8;
  --complement-bg-color: #630000;
  --light-bg-color: #fcf0c8;
  --modal-bg-color: #3a0e0e;
  --light-color: #d9cab3;
  --header-color: #90a7ad;
  --bottom-head-bg: white;
  --bottom-head-color: #4c5b5e;
  --nav-comp: #002244;
  --text-font: clamp(1.2rem, 3vw, 1.5rem);
  --h1-font: clamp(3rem, 8vw, 4rem);
  --h2-font: clamp(1.5rem, 3.5vw, 3rem);
  --modal-text-color: #fcf0c8;
  font-size: 16px;
}
* {
  margin: 0px;
  z-index: inherit;
}
body{
  width: 100%;overflow-x:hidden}
header {
  height: 100vh;
}
p {
  margin-bottom: 1em;
}
.my-name,
.my-job {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 105vh;
  width: 100%;
  color: var(--main-color);
  position: absolute;
  font-family: Raleway;
  z-index: 1;
}
h1 {
  font-weight: 100;
  font-size: 48px;
}
.my-name {
  background-color: var(--main-bg-color);
  clip-path: polygon(0% 0, 100% 0%, 100% 20%, 20% 90%, 0 100%);
}

.console {
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  align-items: start;
  position: absolute;
  width: 100%;
  height: 105vh;
  background-color: var(--complement-bg-color);
  clip-path: polygon(100% 20%, 100% 100%, 20% 90%);
}
.terminal > img {
  position: absolute;
  height: 48px;
  width: 48px;
  bottom: 2px;
  z-index: 30;
}
.terminal > p {
  margin: 0;
}

.terminal > img:nth-child(1) {
  left: -24px;
}
.terminal > img:nth-child(2) {
  bottom: -35px;
  transform: rotate(54deg);
  left: -49px;
}
.terminal > img:nth-child(3) {
  left: 1px;
  bottom: -35px;
  transform: rotate(20deg);
}

.terminal {
  border-radius: 8px;
  border: 4px solid #eeebdd;
  box-shadow: inset -2px 4px 5px 0px #3600003a;
  grid-area: 2/3/3/4;
  justify-self: center;
  align-self: center;
  width: 60%;
  max-width: 240px;
  position: relative;
  top: 180px;
  height: 120px;
  background-color: #eeebdd;
  padding: 30px;
  font-family: Playball;
}

.line {
  z-index: 30;
  position: absolute;
  width: 100%;
  height: 105vh;
  clip-path: polygon(100% 20%, 20% 90%, 20% 92%, 100% 22%);
  background-color: var(--light-bg-color);
}
.my-job {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (min-width: 700px) {
  .my-name {
    clip-path: polygon(0% 0, 86% 0%, 50% 90%, 0 100%);
  }
  .console {
    clip-path: polygon(86% 0, 100% 0%, 100% 100%, 50% 90%);
  }
  .line {
    clip-path: polygon(84% 0, 88% 0%, 54% 91%, 50% 90%);
  }
}
@media screen and (min-width: 500px) {
  h1 {
    font-size: 96px;
  }
}
.my-job > h2 {
  font-weight: 700;
  grid-row: 2/3;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
  display: relative;
  display: flex;
  flex-direction: column;
  z-index: 56;
}
.my-job > h2 {
  align-self: end;
}
.my-job > h2 > .websites {
  z-index: 56;
  position: relative;
  left: 64px;
  min-width: 100px;
  top: 24px;
  grid-column: 1/2;
}
.my-job > h2 > .i-develop {
  min-width: 100px;
  position: relative;
  right: 64px;
}
.my-job > h2 > .i-develop {
  grid-column: 3/4;
}
@media screen and (min-width: 700px) {
  .my-job > h2 {
    display: block;
  }
  .my-job > h2 > .i-develop {
    right: 0px;
    left: 0px;
  }
  .my-job > h2 > .websites {
    right: 0px;
    left: 0px;
    top: 0px;
  }
  .my-job > h2 {
    align-self: center;
  }
}
@media screen and (min-width: 500px) {
  .my-job > h2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
strong {
  padding: 20px 0px 20px 24px;
  white-space: nowrap;
  font-size: 28px;
}
body {
  background-color: var(--light-bg-color);
}
#tech-page {
  width: 70%;
  display: grid;
  align-items: start;
  padding: 20vh 20% 0% 10%;
  grid-column-gap: 120px;
  grid-template-rows: 1fr 1fr;
}
#tech-page > div {
  font-size: 20px;
  line-height: 150%;
  max-width: 90%;
}
#tech-page > div.icons {
  justify-self: start;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 1em;
}
#tech-page > div.icons > ul {
  margin-right: 2em;
}
p:last-child {
  margin: 0px;
}
#tech-page > .icons {
  grid-row: 1/2;
  grid-column: 3/5;
}
@media screen and (min-width: 1200px) {
  #tech-page {
    grid-template-rows: 1fr;
  }

  #tech-page > div {
    grid-column: 1/4;
  }
  #tech-page > div.icons {
    grid-row: 1/2;
    grid-column: 4/6;
    margin-top: 0;
  }
}

.icon-list > li > svg {
  height: 24px;
  position: relative;
  /*top: (1em, 3vw, 1.75em);*/
}
.icons {
  justify-self: start;
  position: relative;
  display: grid;
  justify-content: space-around;
  width: 100%;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 500px) {
  .icons {
    grid-template-columns: 1fr 1fr;
  }
}
ul {
  padding: 0px;
}
ul.icon-list > li {
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon-list > li > span {
  font-size: 24px;
  line-height: 48px;
  padding-left: 1rem;
}
.portfolio {
  padding: 0 10% 10vh;
  justify-content: space-between;
  display: grid;
  grid-gap: 24px;
  grid-row-gap: 64px;
  margin: auto;
  max-width: 1500px;
  grid-template-columns: repeat(auto-fit, 400px);
}
.hovers{
  padding: 0 10% 10vh;
  justify-content: space-between;
  display: grid;
  grid-gap: 24px;
  grid-row-gap: 64px;
  width:80%;
  margin: auto;
  max-width: 1500px;
  grid-template-columns: repeat(auto-fit, 400px);
position: absolute;
top: 0px;}
div.portfolio-img{background-color: #000000;
opacity: 0;}
div.portfolio-img:hover{opacity: .7;}
@media screen and (max-width: 1330px) {
  #items {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-links {
    max-width: min-content;
    padding-left: 30px;
  }
}
.portfolio-page {
  text-align: center;

}
.portfolio-head {
  margin: 32px auto;
  padding-left: calc(10% - 0.6em);
  text-align: left;
  font-weight: 400;
  font-size: 96px;
  line-height: 150%;
  font-family: Raleway;
}
.relative{position: relative;}
.portfolio-img{
  position: relative;
  width: 300px;
  height: 150px;

}
div.portfolio-img{background-color: #000000;}
.hovers{position: absolute;}
.portfolio-img:hover{
  cursor: pointer;
}
#about {
  grid-template-rows: min-content min-content auto;
  font-size: 24px;
  background-color: var(--complement-bg-color);
  color: var(--light-color);
  padding: 0 10%;
  align-items: start;
  width: 80%;
  display: grid;
  min-height: 90vh;
  overflow: hidden;
}
#about > h2 {
  padding-top: 48px;
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 200;
  font-family: Raleway;
}
#about > div {
  line-height: 150%;
  width: 100%;
  max-width: 900px;
  grid-column: 1/4;
}
#about > div > p {
  margin-bottom: 2rem;
}
#about > svg {
  display: none;
}
@media screen and (min-width: 700px) {
  #about {
    grid-template-columns: minmax(500px, 1fr) 1fr;
    width: 90%;
    padding-right: 0px;
  }
  #about > svg {
    display: block;
  }
  #about > div {
    padding-left: 0px;
    grid-column: 1/2;
  }
  #about > h2 {
    font-size: 96px;
    padding-top: 96px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 500px) {
}
#about > h2 {
  padding-top: 96px;
  position: relative;
  left: -0.7em;
  grid-column: 1/4;
}
.fiddle {
  width: 200px;
  height: 40;
}
#about > svg {
  align-self: center;
  justify-self: center;
  grid-row: 2/4;
  grid-column: 2/3;
}
footer {
  text-align: center;
  background-color: var(--complement-bg-color);
  color: var(--light-color);
  height: 10vh;
  line-height: 10vh;
}
.overlay {
  overflow-y: scroll;
  display: grid;
  justify-content: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #000000c8;
  z-index: 40;
  grid-template-columns: 1fr;
}
.modal {
  display: grid;
  grid-column: 2/3;
  z-index: 41;
  opacity: 1;
  justify-self: center;
  border-radius: 12px;
  box-shadow: 0 4px 16px 0 var(--main-bg-color);
  background-color: var(--modal-bg-color);
  padding: 50px 65px;
  position: relative;
}
.main-img,
.img-shadow {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  width: 30vw;
  justify-self: start;
  aspect-ratio: 60/35;
  box-shadow: inset var(--modal-bg-color) 0px 0px 8px 4px;
  display: none;
}
.img-shadow {
  z-index: 50;
}
.secondary-img {
  width: 15vw;
  aspect-ratio: 300/165;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  z-index: 51;
  box-shadow: 0 0 6px 2px #00000093;
  display: none;
}
.modal > ul {
  color: var(--modal-text-color);
  display: grid;
  align-self: center;
  font-size: 24px;
  line-height: 150%;
  align-content: center;
  list-style: none;
}
.modal > ul > li {
  margin-top: 1em;
}
.modal > svg {
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: end;
  z-index: 60;
  margin-left: 1em;
  height: 60px;
  width: 60px;
  fill: var(--modal-text-color);
}
.modal > svg > line {
  filter: drop-shadow(0px 0px 4px var(--main-bg-color));
}
.modal > ul > li.links {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.links > a:visited,
.links > a:active {
  color: var(--modal-text-color);
}
.links > a:hover {
  color: #fcf0c8d4;
}

.modal > ul {
  grid-row: 2/3;
  grid-column: 1/2;
}
@media screen and (min-width: 700px) {
  .modal > svg {
    grid-column: 4/5;
  }
  .overlay {
    grid-template-columns: 120px 1fr 120px;
  }
  .main-img {
    display: block;
    min-width: 300px;
    justify-self: center;
  }
  .secondary-img {
    display: block;
    min-width: 150px;
    position: relative;
    left: 12vw;
    top: 8vw;
  }
  .modal>ul{margin-top: 2rem;}
}

@media screen and (min-width: 1300px) {
  .modal > ul {
    align-content: space-between;
    position: relative;
    top: -16px;
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .modal >ul >li:first-child{
  margin-top: 0px;}
  .modal {
    grid-template-columns: 0.75fr 100px 1.9fr 50px;
    padding: 80px;
  }
  .secondary-img{
    position: relative;
    align-self: start;
    justify-self: start;
    top: 12vw;
    left: 18vw;;
    
  }
}
@media screen and (min-width: 0px){
.hidden{display: none;}
  
}
@media screen and (max-width: 500px){
  .portfolio-head, #about>h2{font-size: 48px;}
  #about>h2{left: 0px;}
  #about>div{font-size: 20px;}
  
}
@media screen  and (max-width: 700px) {

  .terminal{display: none}  
}